<div class="main-block">
    <div class="logo">
        <img src="../../assets/Medline-logo.png" />
    </div>
    <div class="tital">
        <div>MEDLINE.COM</div>
        <div class="account-tital">Account Registration</div>
        <div class="user-info">USER INFORMATION</div>
    </div>
    <div class="form-block">
        <div *ngIf="showErr" class="error-block">Please review error.</div>
        <div class="user-info-color">USER INFORMATION</div>
        <form [formGroup]="accountForm">
            <div class="row pb-3">
                <div class="col-md-5">
                    <div class="form-group">
                        <label translate>FIRST NAME</label><sup class="super-star">*</sup>
                        <input  type=text name="fName" class="form-control form-control-bold" formControlName="fName" [ngClass]="{'is-invalid':accountForm.controls.fName.invalid && (accountForm.controls.fName.dirty || accountForm.controls.fName.touched|| showErr)}" />
                        <div *ngIf="accountForm.controls['fName'].invalid && (accountForm.controls['fName'].dirty || accountForm.controls['fName'].touched || showErr)">
                            <div id="name_error" class="has-error" translate>
                                First Name is a required field.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label translate>LAST NAME</label><sup class="super-star">*</sup>
                        <input  type=text name="lName" class="form-control form-control-bold" formControlName="lName" [ngClass]="{'is-invalid':accountForm.controls.lName.invalid && (accountForm.controls.lName.dirty || accountForm.controls.lName.touched|| showErr)}" />
                        <div *ngIf="accountForm.controls['lName'].invalid && (accountForm.controls['lName'].dirty || accountForm.controls['lName'].touched || showErr)">
                            <div id="name_error" class="has-error" translate>
                                Last Name is a required field.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label translate>PHONE</label><sup class="super-star">*</sup>
                        <input  type=number name="phone" class="form-control form-control-bold" formControlName="phone" [ngClass]="{'is-invalid':accountForm.controls.phone.invalid && (accountForm.controls.phone.dirty || accountForm.controls.phone.touched|| showErr)}" />
                        <div *ngIf="accountForm.controls['phone'].invalid && (accountForm.controls['phone'].dirty || accountForm.controls['phone'].touched || showErr)">
                            <div id="name_error"  class="has-error" translate>
                                Phone is a required field.
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label translate>EXT</label>
                        <input  type=text name="ext" class="form-control form-control-bold" formControlName="ext" />
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-5">
                    <div class="form-group">
                        <label translate>EMAIL</label><sup class="super-star">*</sup>
                        <input  type=email name="email" class="form-control form-control-bold" formControlName="email" [ngClass]="{'is-invalid':accountForm.controls.email.invalid && (accountForm.controls.email.dirty || accountForm.controls.email.touched|| showErr)}" />
                        <div *ngIf="accountForm.controls['email'].invalid && (accountForm.controls['email'].dirty || accountForm.controls['email'].touched || showErr)">
                            <div id="name_error"  class="has-error" translate>
                                Email is a required field.
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-12 next-btn">
                    <button (click)="next()" class="btn-1">NEXT</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #confirmFrom>
    <div class="modal-header">
        <h4 class="modal-title" translate>User Information</h4>
        <span class="modal-close" aria-label="Close" (click)="dis()">X</span>
    </div>
    <div class="modal-body">
        <div class="msg">User has been created successfully with the below details</div>
        <div class="row ml-5">
            <div class="col-md-4">User Name:</div>
            <div class="col-md-6">{{accountForm.value.fName}}</div>
        </div>
        <div class="row ml-5">
            <div class="col-md-4">Phone:</div>
            <div class="col-md-6">{{accountForm.value.phone}}</div>
        </div>
        <div class="row ml-5">
            <div class="col-md-4">Email:</div>
            <div class="col-md-6">{{accountForm.value.email}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-4  ripple add-button" (click)="confirm()" translate>OK</button>
    </div>
</ng-template>