.main-block{
    margin: 0px 4%;
    font-family: sans-serif;
    .logo{
        border-bottom: 1px solid #cac7c7;
        padding-bottom: 10px;
        padding-top: 10px;
        img{
            width: 90px;
            height: 75px;
        }
    }
    .tital{
        padding-top: 15px;
        padding-bottom: 25px;
        color: #777676;
        .account-tital{
            font-size: 23px;
            padding-bottom: 25px;
        }
        .user-info{
            border-bottom: 1px solid #cac7c7;
        }
    }
    .form-block{
        .error-block{
            padding: 5px;
            margin-bottom: 5px;
            background-color: #eac8c8;
        }
        .user-info-color{
            color: #0774d4;
            padding-bottom: 15px;
        }
        .super-star, .has-error {
            color: red;
            font-size: 15px;
        }
        .next-btn{
            text-align: right;
            .btn-1{
                padding: 5px 30px;

                background-color: #099828;
                border: 1px solid #099828;
                border-radius: 2px;
                color: #fff;
            }
        }
        .form-control:focus{
            outline: none;
        }
    }
}
.modal-close{
    cursor: pointer;
}
.modal-body{
    .msg{
        font-size: 13px;
        color: gray;
        padding-bottom: 15px;
    }
    .ml-5{
        margin-left: 5px;

    }
}
.modal-footer{
    justify-content: center;
    .btn-4{
        border: 1px solid #099828;
        background-color: #099828;
        color: #fff;
        padding: 5px 30px;
    }
}