.main-block{
    margin: 0px 4%;
    font-family: sans-serif;
    .logo{
        border-bottom: 1px solid #cac7c7;
        padding-bottom: 10px;
        img{
            width: 90px;
            height: 75px;
        }
    }
}