<div class="main-block">
    <div class="logo">
        <img src="../../assets/Medline-logo.png" />
    </div>
    <div class="pt-5">
        <h5>THANK YOU</h5>
        <span>Your details has been submitted successfully.</span>
    </div> 
</div>
